.banner_container {
    margin-top: 45px;
    background-color: black;
    height: 223px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    mix-blend-mode: darken;
}

.banner_picture {
    height: 223px;
    width: 100%;
    border-radius: 25px;
    opacity: 0.6;
}

.title {
    text-align: center;
    margin-top: -130px;
    color: white;
}

@media only screen and (max-width: 767px) {

.banner_container, .banner_picture {
    height: 111px;
    width: 335px;
    border-radius: 10px;
    margin-top: 30px;
}

.banner_picture {
    margin-top: 0px;
    position: relative;
}

.title {
    font-size: 24px;
    text-align: left;
    position: relative;
    top: 40px;
    left: 10px;
    width: 230px;
}

}