.header_container {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 20px;
    cursor: pointer;
}

.nav_container {
    margin-top: 50px;
    display: flex;
    gap: 25px;
    cursor: pointer;
    font-size: 24px;
}

.nav {
    color: #FF6060;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {

.logo {
    width: 145px;
    height: 47px;
}

.nav_container {
    font-size: 14px;
    margin-top: 40px;
    gap: 15px;
}

}